body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    text-align: center;
    background-color: #66297a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size:30px;
}

#account {
    font-size: 30px;
}

#passwordInput {
    font-size: 30px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 30px;
}

#operations {
    margin-top: 20px;
    font-size: 30px;
}